@page "/outlet-lang"
@inject IJSRuntime JSRuntime;
@using Microsoft.AspNetCore.Components.Rendering

@functions {
    private void ASTNode(RenderTreeBuilder __builder, Outlet.TreeViewer.Node node)
    {
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@node.Text</h5>
            </div>
            <div class="list-group">
                @foreach(var child in node.Children)
                {
                    ASTNode(__builder, child);
                }
            </div>
        </a>
    }
}

<div class="container">
   @foreach (var (input, consoleOutput, result) in History)
    {
        <div class="alert bg-dark text-white" role="alert">
            <p><span class="oi oi-chevron-right mr-3"></span>@input</p>
        </div>
       @foreach (var output in consoleOutput)
        {
            <div class="alert bg-dark text-white" role="alert">
                <p><span class="oi oi-comment-square mr-3"></span>@output</p>
            </div>
        }
        <div class="alert bg-dark text-white" role="alert">
            <p><span class="oi oi-chevron-left mr-3"></span>@result</p>
        </div>
        @*<div class="card my-1">
            <h5 class="card-header">@input</h5>
            <div class="card-body">
                @foreach (var output in consoleOutput)
                {
                    <p class="card-text">@output</p>
                }
                <h5 class="card-title">@result</h5>
            </div>
        </div>*@
    }

    @if (History.Count > 0)
    {
        <button class="btn btn-primary my-1" @onclick="() => History.Clear()">Clear History</button>
    }
    @*<button class="btn btn-primary my-1" @onclick="ShowAST">Show AST</button>*@

    <div class="row">
        <div class="col-12 col-md-2">
            <h3 class="text-white">Demo</h3>
        </div>
        <div class="col-6 col-md-2">
            <button class="btn btn-light w-100" @onclick="RunOutlet">
                <span class="material-icons" aria-hidden="false">play_circle</span>
                Run
            </button>
        </div>
        <div class="col-6 col-md-2">
            <button class="btn btn-light w-100" @onclick="CheckOutlet">
                <span class="oi oi-check @CheckCssClass" aria-hidden="false"></span>
                Check
            </button>
        </div>
        <div class="col-12">
            <OutletEditor ID="editor" @ref="Editor" />
        </div>
       @foreach (var error in Errors)
        {
            <div class="col-12 mt-2">
                <div class="alert alert-danger" role="alert">
                    @error
                </div>
            </div>
        }
    </div>

    @*@if (AST != null)
    {
        <div class="list-group">
        @{
            ASTNode(__builder, AST);
        }
        </div>
    }*@
</div>